body {
  background: url('images/ACMEbackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: 1px;
}
#header {
  padding-top: 20px;
  border: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
  background-color: #ffebc7;
  height: 200px;
  overflow: auto;
}

#title {
  font-size: 40px;
}
#subtext {
  font-size: 20px;
  color: black;
}
.contactme {
  color: black;
  font-size: 20px;
}
.contactme:hover {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #050505;
  color: white;
}

#footer-cont {
  border: 2px;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffebc8;
  height: 250px;
  position: relative;
  bottom: -150px;
  overflow: auto;
}

#citation {
  color: gray;
}
#subbutton {
  color: black;
}

.DIY {
  font-size: 25px;
}
.Gadgets {
  font-size: 25px;
}
.Essentials {
  font-size: 25px;
}
.Pills {
  font-size: 25px;
}
.Bait {
  font-size: 25px;
}
.dropdown {
  padding-right: 30px;
}

.gridContain {
  position: relative;
  left: 25%;
}

#descCont {
  float: right;
}

#form {
  margin: 20px;
  padding: 20px;
  background-color: #ebb565;
  border: 2px;
  border-style: groove;
  border-color: black;
  overflow-x: auto;
}
